on post-fs-data
    mkdir /data/oae 0701  root root
    mkdir /data/oae/s 0700  root root
    mkdir /data/oae/c 0707  root root
    mkdir /data/oae/d 0707  root root
    restorecon_recursive /data/oae

service oae /system/bin/oae_server -s
    seclabel u:r:oae_server:s0
    class late_start
    user root
    group root log
