on property:ro.build.type=eng
    write /proc/sys/fs/suid_dumpable 2    
    write /proc/sys/kernel/core_pattern "|/vendor/bin/aee_core_forwarder /data/core/ %p %s UID=%u GID=%g"

on property:ro.build.type=userdebug
    write /proc/sys/fs/suid_dumpable 2    
    write /proc/sys/kernel/core_pattern "|/vendor/bin/aee_core_forwarder /data/core/ %p %s UID=%u GID=%g"

on property:persist.aee.core.dump=enable
    write /proc/sys/fs/suid_dumpable 2
    write /proc/sys/kernel/core_pattern "|vendor/bin/aee_core_forwarder /data/core/ %p %s UID=%u GID=%g"

on init
    export LD_PRELOAD libdirect-coredump.so
    write /proc/self/coredump_filter 39
    setprop ro.aee.enperf off

on property:vold.decrypt=trigger_restart_framework
    restart debuggerd
    restart debuggerd64

on property:debug.mtk.aee.reinit=done
    restart debuggerd
    restart debuggerd64

import /init.preload.rc
