# MTK platform .rc configure
on post-fs-data
    # Sensor
    chmod 0660 /dev/hwmsensor
    chmod 0660 /dev/msensor
    chmod 0660 /dev/gsensor
    chmod 0660 /dev/als_ps
    chmod 0660 /dev/gyroscope
    chmod 0660 /dev/aal_als
    chmod 0660 /dev/m_batch_misc
	chmod 0660 /dev/humidity
	chmod 0660 /dev/barometer
    chmod 0660 /sys/devices/platform/msensor/driver/cpsopmode
    chmod 0660 /sys/devices/platform/msensor/driver/cpsreptxy
    chmod 0660 /sys/devices/platform/msensor/driver/cpsreptz
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsopmode
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsrange
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsbandwidth

    chown system system /dev/hwmsensor
    chown system system /dev/msensor
    chown system system /dev/gsensor
    chown radio system /dev/als_ps
    chown system system /dev/gyroscope
    chown system system /dev/aal_als
    chown system system /dev/m_batch_misc
	chown system system /dev/humidity
	chown system system /dev/barometer
    chmod 0660 /sys/class/misc/m_acc_misc/accenablenodata
    chmod 0660 /sys/class/misc/m_acc_misc/accactive
    chmod 0660 /sys/class/misc/m_acc_misc/accdelay
    chmod 0660 /sys/class/misc/m_acc_misc/accbatch
    chmod 0660 /sys/class/misc/m_acc_misc/accflush
    chown system system /sys/class/misc/m_acc_misc/accenablenodata
    chown system system /sys/class/misc/m_acc_misc/accactive
    chown system system /sys/class/misc/m_acc_misc/accdelay
    chown system system /sys/class/misc/m_acc_misc/accbatch
    chown system system /sys/class/misc/m_acc_misc/accflush

    chmod 0660 /sys/class/misc/m_mag_misc/magactive
    chmod 0660 /sys/class/misc/m_mag_misc/magdelay
    chmod 0660 /sys/class/misc/m_mag_misc/magbatch
    chmod 0660 /sys/class/misc/m_mag_misc/magflush
    chmod 0660 /sys/class/misc/m_mag_misc/magoactive
    chmod 0660 /sys/class/misc/m_mag_misc/magodelay
    chmod 0660 /sys/class/misc/m_mag_misc/magobatch
    chmod 0660 /sys/class/misc/m_mag_misc/magoflush
    chown system system /sys/class/misc/m_mag_misc/magactive
    chown system system /sys/class/misc/m_mag_misc/magdelay
    chown system system /sys/class/misc/m_mag_misc/magbatch
    chown system system /sys/class/misc/m_mag_misc/magflush
    chown system system /sys/class/misc/m_mag_misc/magoactive
    chown system system /sys/class/misc/m_mag_misc/magodelay
    chown system system /sys/class/misc/m_mag_misc/magobatch
    chown system system /sys/class/misc/m_mag_misc/magoflush
    chmod 0660 /sys/class/misc/m_batch_misc/batchactive
    chmod 0660 /sys/class/misc/m_batch_misc/batchdelay
    chmod 0660 /sys/class/misc/m_batch_misc/batchbatch
    chmod 0660 /sys/class/misc/m_batch_misc/batchflush
    chown system system /sys/class/misc/m_batch_misc/batchactive
    chown system system /sys/class/misc/m_batch_misc/batchdelay
    chown system system /sys/class/misc/m_batch_misc/batchbatch
    chown system system /sys/class/misc/m_batch_misc/batchflush

    chmod 0660 /sys/class/misc/m_bio_misc/bioactive
    chmod 0660 /sys/class/misc/m_bio_misc/biodelay
    chmod 0660 /sys/class/misc/m_bio_misc/biobatch
    chmod 0660 /sys/class/misc/m_bio_misc/bioflush
    chown system system /sys/class/misc/m_bio_misc/bioactive
    chown system system /sys/class/misc/m_bio_misc/biodelay
    chown system system /sys/class/misc/m_bio_misc/biobatch
    chown system system /sys/class/misc/m_bio_misc/bioflush

	chmod 0660 /sys/class/misc/m_gyro_misc/gyroenablenodata
    chmod 0660 /sys/class/misc/m_gyro_misc/gyroactive
    chmod 0660 /sys/class/misc/m_gyro_misc/gyrodelay
    chmod 0660 /sys/class/misc/m_gyro_misc/gyrobatch
    chmod 0660 /sys/class/misc/m_gyro_misc/gyroflush
    chown system system /sys/class/misc/m_gyro_misc/gyroenablenodata
    chown system system /sys/class/misc/m_gyro_misc/gyroactive
    chown system system /sys/class/misc/m_gyro_misc/gyrodelay
    chown system system /sys/class/misc/m_gyro_misc/gyrobatch
    chown system system /sys/class/misc/m_gyro_misc/gyroflush

	chmod 0660 /sys/class/misc/m_uncali_gyro_misc/ungyroenablenodata
    chmod 0660 /sys/class/misc/m_uncali_gyro_misc/ungyroactive
    chmod 0660 /sys/class/misc/m_uncali_gyro_misc/ungyrodelay
    chmod 0660 /sys/class/misc/m_uncali_gyro_misc/ungyrobatch
    chmod 0660 /sys/class/misc/m_uncali_gyro_misc/ungyroflush
    chown system system /sys/class/misc/m_uncali_gyro_misc/ungyroenablenodata
    chown system system /sys/class/misc/m_uncali_gyro_misc/ungyroactive
    chown system system /sys/class/misc/m_uncali_gyro_misc/ungyrodelay
    chown system system /sys/class/misc/m_uncali_gyro_misc/ungyrobatch
    chown system system /sys/class/misc/m_uncali_gyro_misc/ungyroflush

	chmod 0660 /sys/class/misc/m_uncali_mag_misc/unmagenablenodata
    chmod 0660 /sys/class/misc/m_uncali_mag_misc/unmagactive
    chmod 0660 /sys/class/misc/m_uncali_mag_misc/unmagdelay
    chmod 0660 /sys/class/misc/m_uncali_mag_misc/unmagbatch
    chmod 0660 /sys/class/misc/m_uncali_mag_misc/unmagflush
    chown system system /sys/class/misc/m_uncali_mag_misc/unmagenablenodata
    chown system system /sys/class/misc/m_uncali_mag_misc/unmagactive
    chown system system /sys/class/misc/m_uncali_mag_misc/unmagdelay
    chown system system /sys/class/misc/m_uncali_mag_misc/unmagbatch
    chown system system /sys/class/misc/m_uncali_mag_misc/unmagflush

    chmod 0660 /sys/class/misc/m_alsps_misc/alsactive
    chmod 0660 /sys/class/misc/m_alsps_misc/alsdelay
    chmod 0660 /sys/class/misc/m_alsps_misc/alsbatch
    chmod 0660 /sys/class/misc/m_alsps_misc/alsflush
    chmod 0660 /sys/class/misc/m_alsps_misc/psactive
    chmod 0660 /sys/class/misc/m_alsps_misc/psdelay
    chmod 0660 /sys/class/misc/m_alsps_misc/psbatch
    chmod 0660 /sys/class/misc/m_alsps_misc/psflush
    chown system system /sys/class/misc/m_alsps_misc/alsactive
    chown system system /sys/class/misc/m_alsps_misc/alsdelay
    chown system system /sys/class/misc/m_alsps_misc/alsbatch
    chown system system /sys/class/misc/m_alsps_misc/alsflush
    chown system system /sys/class/misc/m_alsps_misc/psactive
    chown system system /sys/class/misc/m_alsps_misc/psdelay
    chown system system /sys/class/misc/m_alsps_misc/psbatch
    chown system system /sys/class/misc/m_alsps_misc/psflush

    chmod 0660 /sys/class/misc/m_rgbw_misc/rgbwactive
    chmod 0660 /sys/class/misc/m_rgbw_misc/rgbwdelay
    chmod 0660 /sys/class/misc/m_rgbw_misc/rgbwbatch
    chmod 0660 /sys/class/misc/m_rgbw_misc/rgbwflush
    chown system system /sys/class/misc/m_rgbw_misc/rgbwactive
    chown system system /sys/class/misc/m_rgbw_misc/rgbwdelay
    chown system system /sys/class/misc/m_rgbw_misc/rgbwbatch
    chown system system /sys/class/misc/m_rgbw_misc/rgbwflush

    chmod 0660 /sys/class/misc/m_baro_misc/baroenablenodata
    chmod 0660 /sys/class/misc/m_baro_misc/baroactive
    chmod 0660 /sys/class/misc/m_baro_misc/barodelay
    chmod 0660 /sys/class/misc/m_baro_misc/barobatch
    chmod 0660 /sys/class/misc/m_baro_misc/baroflush
    chown system system /sys/class/misc/m_baro_misc/baroenablenodata
    chown system system /sys/class/misc/m_baro_misc/baroactive
    chown system system /sys/class/misc/m_baro_misc/barodelay
    chown system system /sys/class/misc/m_baro_misc/barobatch
    chown system system /sys/class/misc/m_baro_misc/baroflush

    chmod 0660 /sys/class/misc/m_hmdy_misc/hmdyenablenodata
    chmod 0660 /sys/class/misc/m_hmdy_misc/hmdyactive
    chmod 0660 /sys/class/misc/m_hmdy_misc/hmdydelay
    chmod 0660 /sys/class/misc/m_hmdy_misc/hmdybatch
    chmod 0660 /sys/class/misc/m_hmdy_misc/hmdyflush

    chown system system /sys/class/misc/m_hmdy_misc/hmdyenablenodata
    chown system system /sys/class/misc/m_hmdy_misc/hmdyactive
    chown system system /sys/class/misc/m_hmdy_misc/hmdydelay
    chown system system /sys/class/misc/m_hmdy_misc/hmdybatch
    chown system system /sys/class/misc/m_hmdy_misc/hmdyflush

    chmod 0660 /sys/class/misc/m_pedo_misc/pedoactive
    chmod 0660 /sys/class/misc/m_pedo_misc/pedodelay
    chmod 0660 /sys/class/misc/m_pedo_misc/pedobatch
    chmod 0660 /sys/class/misc/m_pedo_misc/pedoflush
    chown system system /sys/class/misc/m_pedo_misc/pedoactive
    chown system system /sys/class/misc/m_pedo_misc/pedodelay
    chown system system /sys/class/misc/m_pedo_misc/pedobatch
    chown system system /sys/class/misc/m_pedo_misc/pedoflush

    chmod 0660 /sys/class/misc/m_pkup_misc/pkupactive
    chmod 0660 /sys/class/misc/m_pkup_misc/pkupdelay
    chmod 0660 /sys/class/misc/m_pkup_misc/pkupbatch
    chmod 0660 /sys/class/misc/m_pkup_misc/pkupflush
    chown system system /sys/class/misc/m_pkup_misc/pkupactive
    chown system system /sys/class/misc/m_pkup_misc/pkupdelay
    chown system system /sys/class/misc/m_pkup_misc/pkupbatch
    chown system system /sys/class/misc/m_pkup_misc/pkupflush

    chmod 0660 /sys/class/misc/m_tilt_misc/tiltactive
    chmod 0660 /sys/class/misc/m_tilt_misc/tiltdelay
    chmod 0660 /sys/class/misc/m_tilt_misc/tiltbatch
    chmod 0660 /sys/class/misc/m_tilt_misc/tiltflush
    chown system system /sys/class/misc/m_tilt_misc/tiltactive
    chown system system /sys/class/misc/m_tilt_misc/tiltdelay
    chown system system /sys/class/misc/m_tilt_misc/tiltbatch
    chown system system /sys/class/misc/m_tilt_misc/tiltflush

    chmod 0660 /sys/class/misc/m_glg_misc/glgactive
    chmod 0660 /sys/class/misc/m_glg_misc/glgdelay
    chmod 0660 /sys/class/misc/m_glg_misc/glgbatch
    chmod 0660 /sys/class/misc/m_glg_misc/glgflush
    chown system system /sys/class/misc/m_glg_misc/glgactive
    chown system system /sys/class/misc/m_glg_misc/glgdelay
    chown system system /sys/class/misc/m_glg_misc/glgbatch
    chown system system /sys/class/misc/m_glg_misc/glgflush

    chmod 0660 /sys/class/misc/m_wag_misc/wagactive
    chmod 0660 /sys/class/misc/m_wag_misc/wagdelay
    chmod 0660 /sys/class/misc/m_wag_misc/wagbatch
    chmod 0660 /sys/class/misc/m_wag_misc/wagflush
    chown system system /sys/class/misc/m_wag_misc/wagactive
    chown system system /sys/class/misc/m_wag_misc/wagdelay
    chown system system /sys/class/misc/m_wag_misc/wagbatch
    chown system system /sys/class/misc/m_wag_misc/wagflush

    chmod 0660 /sys/class/misc/m_ancall_misc/ancallactive
    chmod 0660 /sys/class/misc/m_ancall_misc/ancalldelay
    chmod 0660 /sys/class/misc/m_ancall_misc/ancallbatch
    chmod 0660 /sys/class/misc/m_ancall_misc/ancallflush
    chown system system /sys/class/misc/m_ancall_misc/ancallactive
    chown system system /sys/class/misc/m_ancall_misc/ancalldelay
    chown system system /sys/class/misc/m_ancall_misc/ancallbatch
    chown system system /sys/class/misc/m_ancall_misc/ancallflush

    chmod 0660 /sys/class/misc/m_ges_misc/gesactive
    chmod 0660 /sys/class/misc/m_ges_misc/gesdelay
    chmod 0660 /sys/class/misc/m_ges_misc/gesbatch
    chmod 0660 /sys/class/misc/m_ges_misc/gesflush
    chown system system /sys/class/misc/m_ges_misc/gesactive
    chown system system /sys/class/misc/m_ges_misc/gesdelay
    chown system system /sys/class/misc/m_ges_misc/gesbatch
    chown system system /sys/class/misc/m_ges_misc/gesflush
    chmod 0660 /sys/class/misc/m_pdr_misc/pdractive
    chmod 0660 /sys/class/misc/m_pdr_misc/pdrdelay
    chmod 0660 /sys/class/misc/m_pdr_misc/pdrbatch
    chmod 0660 /sys/class/misc/m_pdr_misc/pdrflush
    chown system system /sys/class/misc/m_pdr_misc/pdractive
    chown system system /sys/class/misc/m_pdr_misc/pdrdelay
    chown system system /sys/class/misc/m_pdr_misc/pdrbatch
    chown system system /sys/class/misc/m_pdr_misc/pdrflush

    chmod 0660 /sys/class/misc/m_act_misc/actactive
    chmod 0660 /sys/class/misc/m_act_misc/actdelay
    chmod 0660 /sys/class/misc/m_act_misc/actbatch
    chmod 0660 /sys/class/misc/m_act_misc/actflush
    chown system system /sys/class/misc/m_act_misc/actactive
    chown system system /sys/class/misc/m_act_misc/actdelay
    chown system system /sys/class/misc/m_act_misc/actbatch
    chown system system /sys/class/misc/m_act_misc/actflush

    chmod 0660 /sys/class/misc/m_step_c_misc/step_cactive
    chmod 0660 /sys/class/misc/m_step_c_misc/step_cdelay
    chmod 0660 /sys/class/misc/m_step_c_misc/step_cbatch
    chmod 0660 /sys/class/misc/m_step_c_misc/step_cflush
    chown system system /sys/class/misc/m_step_c_misc/step_cactive
    chown system system /sys/class/misc/m_step_c_misc/step_cdelay
    chown system system /sys/class/misc/m_step_c_misc/step_cbatch
    chown system system /sys/class/misc/m_step_c_misc/step_cflush

    chmod 0660 /sys/class/misc/m_rv_misc/rvactive
    chmod 0660 /sys/class/misc/m_rv_misc/rvdelay
    chmod 0660 /sys/class/misc/m_rv_misc/rvbatch
    chmod 0660 /sys/class/misc/m_rv_misc/rvflush
    chown system system /sys/class/misc/m_rv_misc/rvactive
    chown system system /sys/class/misc/m_rv_misc/rvdelay
    chown system system /sys/class/misc/m_rv_misc/rvbatch
    chown system system /sys/class/misc/m_rv_misc/rvflush

    chmod 0660 /sys/class/misc/m_grv_misc/grvactive
    chmod 0660 /sys/class/misc/m_grv_misc/grvdelay
    chmod 0660 /sys/class/misc/m_grv_misc/grvbatch
    chmod 0660 /sys/class/misc/m_grv_misc/grvflush
    chown system system /sys/class/misc/m_grv_misc/grvactive
    chown system system /sys/class/misc/m_grv_misc/grvdelay
    chown system system /sys/class/misc/m_grv_misc/grvbatch
    chown system system /sys/class/misc/m_grv_misc/grvflush

    chmod 0660 /sys/class/misc/m_gmrv_misc/gmrvactive
    chmod 0660 /sys/class/misc/m_gmrv_misc/gmrvdelay
    chmod 0660 /sys/class/misc/m_gmrv_misc/gmrvbatch
    chmod 0660 /sys/class/misc/m_gmrv_misc/gmrvflush
    chown system system /sys/class/misc/m_gmrv_misc/gmrvactive
    chown system system /sys/class/misc/m_gmrv_misc/gmrvdelay
    chown system system /sys/class/misc/m_gmrv_misc/gmrvbatch
    chown system system /sys/class/misc/m_gmrv_misc/gmrvflush

    chmod 0660 /sys/class/misc/m_la_misc/laactive
    chmod 0660 /sys/class/misc/m_la_misc/ladelay
    chmod 0660 /sys/class/misc/m_la_misc/labatch
    chmod 0660 /sys/class/misc/m_la_misc/laflush
    chown system system /sys/class/misc/m_la_misc/laactive
    chown system system /sys/class/misc/m_la_misc/ladelay
    chown system system /sys/class/misc/m_la_misc/labatch
    chown system system /sys/class/misc/m_la_misc/laflush

    chmod 0660 /sys/class/misc/m_grav_misc/gravactive
    chmod 0660 /sys/class/misc/m_grav_misc/gravdelay
    chmod 0660 /sys/class/misc/m_grav_misc/gravbatch
    chmod 0660 /sys/class/misc/m_grav_misc/gravflush
    chown system system /sys/class/misc/m_grav_misc/gravactive
    chown system system /sys/class/misc/m_grav_misc/gravdelay
    chown system system /sys/class/misc/m_grav_misc/gravbatch
    chown system system /sys/class/misc/m_grav_misc/gravflush
